*{
    box-sizing:border-box;
}
body{
    display:flex;
    flex-direction: column;
    justify-content:right ;
    align-items:center;
    background-color:#f4f4f4;
}
.container{
    display:flex;
    justify-content:center;
    width:800px;
    margin:0 auto;
    background: transparent;
}
.controlbar{
    display:flex;
    flex-direction: column;
    justify-content:right ;
    align-items:center;
    width:250px;
    padding:10px 20px;
    border-right:1px solid #111111;
}
.controlbar button{
    width:100%;
    padding:10px 10px;
    margin-bottom: 20px;
    border-radius:5px;
    border:1px solid #111111;
    font-size:14px;
    font-weight:bold;
    background-color: white;
}
.content{
    flex:1;
    padding:10px 20px;
}
h2{
    margin:0 0 20px;
    padding-bottom: 10px;
    border-bottom:1px solid black;
    font-weight: 300;
    display:flex;
    justify-content: space-between;
}
.person{
    margin:0 0 20px;
    font-weight: 300;
    display:flex;
    justify-content: space-between;
}