body{
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
h1{
    color:#5FBAA7;
}
.currency{
    padding:40px 0;
    display:flex;
    justify-content: space-between;
}
.currency select {
    padding: 10px 20px 10px 10px;
    border:1px solid #DEDEDE;
    font-size: 16px;
}
input{
    font-size:30px;
    border:none;
    text-align: right;
}
input:focus{
    outline:none;
}
.result{
    display:flex;
    justify-content: space-between;
}
button{
    background-color: #5fbaa7;
    color:white;
    border-radius: 5px;
    border-top: 2px solid #767676;
    border-left: 2px solid #767676;
    border-bottom: 2px solid #212121;
    border-right: 2px solid #212121;
    height:30px;
    width:60px;
}